html,body { 
    height:100%;
    background: url('../img/grey-bg.png') repeat-x left top;
    }

#main{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
}


