{ 
    stripes : [ 
    {
        color: '#3a83d6',
        rotation: 180,
        opacity: 50,
        mode: 'normal',
        width: 29,
        gap: 10,
        offset: 0
    }
],
bg : '#171515'
}

html,body { height:100%; }

#main{
    width: 50%;
    height: 50%;
	margin-left: auto;
	margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	background: white;
	height: 100%;
}


