html {
min-height:100%;
}

body {
min-height:100%;
z-index:1;
background-image:url('../images/stardust.png');
background-repeat:repeat;
}

#title{
text-align: center
}

#links{
text-align: center;
margin-left: 0;
}

#links a{
text-decoration:none;
}

#links img:hover {
-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
 }

#avatar:hover{
-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#lifestream {
display:block;
}

#description {
font-size: 16px;
}

#description a {
color:#4183C4;
}

a {
text-decoration:none;
}